* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

.app {
	min-height: 100vh;
	// max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-family: $font-family-secondary;
	// color: $white;
	position: relative;

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}
